@media screen and (max-width: 992px){

	.rabota{
		width: 70%;
		margin:auto;
		 margin-top: 10px;
	}

		.rabota_2{
		width: 70%;
		margin:auto;
		 margin-top: 10px;
	}

		.rabota_3{
		width: 70%;
		margin:auto;
		 margin-top: 10px;
	}

				.rabota_4{
		width: 70%;
		margin:auto; 
	}


	.profile_2{
		font-size: 25px;
	}

	.my_name{
		font-size: 35px;
	}

	.avatar_profile{
		width: 200px;
		height: 200px;
	}

	.beografy{
	
		font-size: 25px;
			}

			.footer{
				font-size: 20px;
			}


			.rabota_4{
				height: auto;
				 margin-top: 10px;
			}



}

@media screen and (max-width: 480px){

		.rabota{
		width: 70%;
		margin:auto;
	}

		.rabota_2{
		width: 70%;
		margin:auto;
		height: 
	}

		.rabota_3{
		width: 70%;
		margin:auto;
	}


			.rabota_4{
				height: auto;
				 margin-top: 10px;
			}




.profile_2{
		font-size: 25px;
	}

	.my_name{
		font-size: 35px;
	}

	.avatar_profile{
		width: 200px;
		height: 200px;
	}

	.galery_nazvanie{
		width: 500px;
	}


	
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .icon {
    background-image: url(https://psv4.userapi.com/c610129/u142452627/docs/87992246718f/iPhone_Retina.jpg?extra=3j7a28DzyrEx0rG818V9iXwLWnNVaLEBfuzv7HOvEs2TykhWtlNKEsMgVuChm7N3rBFmggIBNha9zH76kVATbMiMnfpZKoCOaQLmw6wQEUiiXT4v032bviSdng);
  }
}