@media screen and (max-width: 992px){

	.rabota{
		width: 70%;
		margin:auto;
		 margin-top: 10px;
	}

		.rabota_2{
		width: 70%;
		margin:auto;
		 margin-top: 10px;
	}

		.rabota_3{
		width: 70%;
		margin:auto;
		 margin-top: 10px;
	}

				.rabota_4{
		width: 70%;
		margin:auto; 
	}


	.profile_2{
		font-size: 25px;
	}

	.my_name{
		font-size: 35px;
	}

	.avatar_profile{
		width: 200px;
		height: 200px;
	}

	.beografy{
	
		font-size: 25px;
			}

			.footer{
				font-size: 20px;
			}


			.rabota_4{
				height: auto;
				 margin-top: 10px;
			}



}

@media screen and (max-width: 480px){

		.rabota{
		width: 70%;
		margin:auto;
	}

		.rabota_2{
		width: 70%;
		margin:auto;
		height: 
	}

		.rabota_3{
		width: 70%;
		margin:auto;
	}


			.rabota_4{
				height: auto;
				 margin-top: 10px;
			}




.profile_2{
		font-size: 25px;
	}

	.my_name{
		font-size: 35px;
	}

	.avatar_profile{
		width: 200px;
		height: 200px;
	}

	.galery_nazvanie{
		width: 500px;
	}


	
}