/*Глобальный Настройки*/
	*{
		padding: 0;
		margin: 0;
	}
	img{
		width: 100%;
		height: 100%;
	}

	*{
padding: 0;
margin:0;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;3
}

a {
	text-decoration: none;
	color: white;

}

.clear{
	clear: both;
}

/*Конец Глобальных Настроек*/

/*Шапка*/




	.head{
		width: 100%;
		height: 100vh;
		background: url(https://github.com/godlikecorparationdesigner/img/blob/master/imgonline-com-ua-Compressed-Zayuec2bIwS.jpg?raw=true) no-repeat center;
		background-size: cover;
		

	}



	.punkts_menu{
		margin-top: 6px;
		margin-left: 600px;
		float: ;
			
}

.head_photo{
	height: 915px;
	min-height: 650px;
}
/*Конец Шапки*/

.profile{
	width: 350px;
	height: 400px;
	background-color: rgba(226, 226, 226, 0.28);
	position: absolute;
	margin-left:auto;
	top: 20%;
	left: 50%;
	transform:translateX(-50%);
	font-family: 'Merriweather', serif;
}

.profile_2{

	color: white;
	position: absolute;
	top: 20%;
	left: 50%;
	transform:translateX(-50%);
	font-family: 'Merriweather', serif;
}

.my_name{
	display: flex;
	justify-content:center;
	font-size: 20px;
}







.wrapper{
	display: flex;
	justify-content:center;
	
}

.wrapper_2{
	
	
}

.avatar_profile{
	    margin: auto;
    display: flex;
    margin-top: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.social_button{
	display: flex;
	justify-content:center;
	color: black;
}
.rank{
		display: flex;
	justify-content:center;
	color: white;
}

.social_button_2{
		display: flex;
	justify-content:center;
	color: ;
}

.social_icon{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}

.butons_botom{
	width: 100%;
	margin-top: 130px;
	background-color:  #2196f3;
	border-radius: 0 0 5px 5px;
	float: left;
	position:absolute;
}

.button_1{
	float: left;
	border-right: 1px solid black;
	width: 115px;
	text-align: center;
	height: 30px;
	padding-top:10px;

}


.button_2{
	float: left;
	width: 116px;
	padding-top:10px;
	text-align: center;

}

.seection{
	width: 100%;
	height: 700px;
	background-color: white;
	display: flex;
	justify-content: center;

}

.avatar{
	width: 300px;
	height: 450px;
}

.typing_text{
	width: 500px;
	margin-left: 15px;
}

.info_block{
	width: 100%;
	height: auto;
	background-color:rgba(128, 128, 128, 0.46);

}

#photo_avatar{
	width: 250px;
	height: 350px;
}

.head_1{
		font-size: 20px;
	text-align: center;
}

.info_by_me{
	width: 300px;
	font-size: 18px;
	text-align: center;
	margin: 20px auto;
	border-right: 2px solid green;
}

.avatar_photo{
	width: 250px;
	height: 300px;
		margin: 20px auto;
}


.rabota{
	display: flex;
	width: 30%;
	padding: 5px;
	 background-color: white;
	 flex-wrap: wrap;
	 box-shadow: 4px 4px 4px 0 rgba(13,5,6,.3);
	
}




.rabota_2{
	box-shadow: 4px 4px 4px 0 rgba(13,5,6,.3);
}

.rabota_3{
	display: flex;
	width: 30%;
	padding: 5px;
	 background-color: white;
	 flex-wrap: wrap;
	 box-shadow: 4px 4px 4px 0 rgba(13,5,6,.3);
}

.rabota_4{
	display: flex;
	width: 30%;
	height: 300px;
	padding: 5px;
	 background-color: white;
	 flex-wrap: wrap;
	 box-shadow: 4px 4px 4px 0 rgba(13,5,6,.3);
}

.galery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Exo 2', sans-serif;
	margin-top: 10px;
}

.galery_2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Exo 2', sans-serif;
	margin-top: 50px;
}

.galery_3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Exo 2', sans-serif;
	margin-top: 50px;
}


.rabota_2{
	display: flex;
	width: 30%;
	padding: 5px;
	 background-color: white;
	 flex-wrap: wrap;
	 
}

.rabota_2:hover{
	box-shadow: 2px 2px 2px 0 rgba(13,5,6,.3);
}

.img_works{
	min-width: 100%;
}


.beografy{
	width: 100%;
	height: 500px;	
	font-size: 14px;
}

.beografy_photo{
	width: 350px;
	height: 260px;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.osnova_osnov{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.my_info{
	width: 350px;
}

.my_skill{
	width: 350px;
}

.kartini{
	margin-left:5px;
	width: 100px;	
	text-align: center;
	float: left;
	border-right:2px solid black;
	border-left:2px solid black;
}

.akseksuari{
	width: 100px;
	float: left;
	text-align: center;
	border-right: 2px solid black;
}



/*Кнопки Меню*/

.kartini{
	display: inline-block;
  font-weight: bold;
  color: rgb(8, 143, 53);
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(247, 237, 26);
  border-radius: 5px;
  outline: none;
  background: rgb(255, 231, 6) linear-gradient(rgb(247, 237, 26), rgb(221, 212, 34) 80%);
  box-shadow:0 6px rgb(178, 170, 20), 0 3px 15px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}

.kartini:hover{
	 background: rgb(255, 231, 6) linear-gradient(rgb(247, 237, 26), rgb(221, 212, 34) 80%);
}

.kartini:active{
	background: rgb(255, 231, 6) linear-gradient(rgb(247, 237, 26), rgb(221, 212, 34) 80%);
  	box-shadow:0 2px rgb(247, 237, 26),
   0 1px 6px rgba(247, 237, 26,.4),
   inset 0 1px rgba(247, 237, 26,.3),
   inset 0 0 3px rgba(247, 237, 26,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

/*Аксексуары Кнопка */
.akseksuari{
	display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}

.akseksuari:hover{
	 background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}

.akseksuari:active{
	background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  	box-shadow:0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

/*Кнопка всё*/
.vse{
	display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}

.vse:hover{
	 background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}

.vse:active{
	background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  	box-shadow:0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

/*Кнопка ещё*/
.ska{
	display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}

.ska:hover{
	 background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}

.ska:active{
	background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  	box-shadow:0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

/*Конец*/

.buton-social-header{
	display: flex;
	justify-content: center;
}

.footer{
	background-color: #3c454d;
	height: 500px;
	color: white;

}

.info_1{
	height: auto;
	float: left;
	width: 400px;
}

.info_2{
	height: auto;
	float: left;
	
}

.email{
	margin-top: 25px;
}

.vk{
	margin-top: 25px;
}

.phone{
	float: left;
}

.gege{
	display: flex;
	justify-content: center;
	height: auto;
}

